<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Trading App</title>
<meta name="author" content="Paulo Jorge PM">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?t=2" type="text/css">

<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/async.js') }}" type="text/javascript"></script>

{% block head %}{% endblock %}
</head>
<body>

<div id="top">
	<ul class="account">
		<!--<li><a href="{{ url_for('.login') }}" class="button">&#x2699;</a></li>-->
		{% if loginStatus %}<li>Welcome <b>{{ username.capitalize() }}</b>! </li>
		<li><a href="{{ url_for('.profile') }}" class="button">Profile</a></li>
		<li><a href="{{ url_for('.logout') }}" class="button">Logout</a></li>
		{% else: %}
		<li><a href="{{ url_for('.login') }}" class="button noBlock">Login</a></li>
		<li><a href="{{ url_for('.register') }}" class="button noBlock">Register</a></li>
		{% endif %}
	</ul>

	<ul class="nav">
		<li><a href="{{ url_for('.markets') }}" class="button">&#9872; Markets</a></li>
		<li><a href="{{ url_for('.portfolio') }}" class="button">&#8644; Portfolio</a></li>
		<li><a href="{{ url_for('.wallet') }}" class="button">&#8364; Wallet</a></li>
		<li><a href="{{ url_for('.showfollow') }}" class="button">&#8364; Filter Assets</a></li>
	</ul>
</div>

<div id="main">
	{% block balance %}{% endblock %}
	<div id="left">
		<div id="balance"><span>{{ balance }}&#8364;</span></div>
		<div style="margin-top:15px;text-align:center;"><span style="color:#ffffff;background:#333333;font-weight:bold;padding:2px 10px;">Bank balance</span></div>

		{% if loginStatus == False %}
		<br><div style="padding:10px 20px;text-align:center;"><b>Welcome!</b><br>You are not loged in!<br>Buttons locked, please login/register to unlock and start investing.</div>
		{% endif %}

	<div id="formOrder" style="display:none;">
		<h4></h4>
		<form action='{{ url_for(".buysell") }}' name='formOrder' method='POST'>
		<input type='hidden' name='typeOrder' value='' />
		<input type='hidden' name='instrument' value='' />
		<input type='hidden' name='displayName' value='' />
		<input type='hidden' name='marketType' value='' />
		<dl>
		<dt><b>Units:</b></dt>
		<dd><input type='text' name='units' value='0' /></dd>
		<dt><b>Take Profit:</b></dt>
		<dd><input type='text' name='takeProfit' value='0' /></dd>
		<dt><b>Stop Loss:</b></dt>
		<dd><input type='text' name='stopLoss' value='0' /></dd>
		<dd style='text-align:right;'><input type='submit' value=''></dd>
		</dl>
		</form>
	</div><!--/formOrder-->
	</div>

	<div id="content">
	{% block content %}{% endblock %}
	</div>
</div>

<footer>Paulo Jorge PM | 2019 | MEI | <a href="http://www.paulojorgepm.net" target="_blank">http://www.paulojorgepm.net</a></footer>

{% if not loginStatus %}
<script>
$(".button").not(".noBlock").on("click", function(e) {
    alert("Please first make login/register before using advanced functionallities!");
    e.preventDefault();
    //return False;
});
</script>
{% endif %}

</body>
</html>