{% extends "layout.html" %}

{% block content %}


<div id="contentBar">
	<div id="timer">&#128337; Refresh in: <span></span></div>
	<span><a href="#">&#9776;</a> &nbsp;&nbsp; <b>PORTFOLIO</b> | <b>Filter by:</b> <button onclick="showOpen()">Open</button> <button onclick="showClosed()">Closed</button>  <button onclick="showAll()">All</button></span>
</div>

<div id="mainContent">
<button id="getMarkets" onclick="prices()" style="float:right;">FORCE REFRESH</button>

<br>

<div id="markets">
<table class="lista">
	<tr>
		<th></th>
		<th>Asset</th>
		<th>Closed?</th>
		<th>Tipo</th>
		<th>Action</th>
		<th>Units</th>
		<th>Price</th>
		<th>TP</th>
		<th>SL</th>
		<th>Date</th>
		<th>Buy(€)</th>
		<th>Sell(€)</th>
	</tr>

{% for asset in portfolio: %}
<tr id="{{ asset.assetId }}" class="{{ asset.id }}"><td><button onclick="closeNow({{ asset.id }})">close</button></td><td class="displayName">{{ asset.assetId }}</td><td class="closed">{{ asset.closed }}</td><td class="type">{{ asset.marketType }}</td><td>{{ asset.action }}</td><td>{{ asset.units }}</td><<td>{{ asset.startValue }}</td><td>{{ asset.takeProfit }}</td><td>{{ asset.stopLoss }}</td><td>{{ asset.dateTransac.day }}/{{ asset.dateTransac.month }}/{{ asset.dateTransac.year }}</td><td class="buy">&#128337;</td><td class="sell">&#128337;</td></tr>
{% endfor %}
</table>
</div>
</div><!--/mainContent-->

<script>
function prices(paint=false) {
	var instruments = '';
	//get nome de assets em formato csv que queremos exibir preços 
	$('#markets table tr').each(function (key, value) {
		if($(this).attr('id')) {
			instruments += "," + $(this).attr('id');
		}
	});
	//delete 1st comma
	instruments = instruments.substr(1);
	getPrices(instruments, paint);
}


var max_time=5
var count=max_time;
var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
function timer()
	{
	  count=count-1;
	  if (count <= 0)
	  {
	     //restart do contador
	     count=max_time;
	     prices(paint=true);
	  }
	  $('#timer span').text(count + " secs");
}

//Async ajax: fazer refresh aos prices de x em x segundos
timer();

function showOpen() {
$('#markets table td.closed').parent("tr").hide();
$('#markets table td.closed:contains("False")').parent("tr").show();
}

function showClosed() {
$('#markets table td.closed').parent("tr").hide();
$('#markets table td.closed:contains("False")').parent("tr").show();
}

function showAll() {
$('#markets table tr').show();
}

function closeNow(idAsset) {
	alert(10);
	closeAsset(idAsset);
}

</script>

{#% include 'right.html' %#}

{% endblock %}